.container {
  width: 100%;
  padding-top: 50%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

h1.header {
	color: #7ec8e3
}

.form {
	color:red;
}

input.form-control {
  background-color: red;
  color: black;
}


body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  	background-image: url('/static/background.png');
	padding: 0 2vw;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}

.text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.navbar {
  background-color: rgb(2, 179, 69);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  float: none
}

/* Style the navigation bar links */
.navbar a {
  float: none;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;

}


/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: rgb(214, 253, 39);
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: rgb(0, 71, 91);
  color: white;
}

h1, h2, h3, h5, h6 {
	margin: 0;
	margin-bottom: 10px;
	color: #ff9010
}


a {
	color: var(--link);
	text-decoration: none;
}
a:hover { text-decoration: none; }

ul { list-style: none; }
ul li::before {
	content: "•";
	font-size: 20px;
	color: var(--list);
  display: inline-block;
	width: 1em;
  margin-left: -1em;
}

ol {
	list-style: none;
	counter-reset: li;
}
ol li { counter-increment: li; }
ol li::before {
	content: "."counter(li);
	color: var(--list);
  display: inline-block;
	width: 1em;
	margin-left: -1.5em;
  margin-right: 0.5em;
	text-align: right;
	direction: rtl;
}


input, button, textarea, select {
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px;
  font-family: inherit;
  font-size: inherit;
  border: none;
  border-radius: 10px;
  outline: none;
  color: var(--text-form);
  background-color: var(--background-button);
}

input:focus, select:focus, button:focus, textarea:focus {
  box-shadow: 0 0 0 2px var(--focus);
}


button, input[type='submit'], input[type='button'] {
  padding: 5px 15px;
}

button:hover, input[type='submit']:hover, input[type='button']:hover {
  background: var(--button-hover);
}





input[type='checkbox']:checked, input[type='radio']:checked {
  background: var(--checked);
}

input[type='checkbox']:active, input[type='radio']:active, input[type='submit']:active, input[type='button']:active, input[type='range']:active, button:active {
  transform: translateY(2px);
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  border: none;
  border-top: 1px solid var(--hr);
}