<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/static/style.css">
</head>


<body>


<div class="header">
	<h1>Kids Code Python</h1>
	<div class="navbar">	
		<a href="/" class="{% block active_home %}{% endblock %}">Home</a>

		<a href="/login" class="{% block active_login %}{% endblock %}">Login</a>


		<a href="/create-account" class="{% block active_createaccount %}{% endblock %}">Create an account</a>
		
	</div>
</div>

<br><br>
{% block body %}
{% endblock %}

</body>
</html>